accelerate<1
bitsandbytes
datasets
decord
deepspeed>=0.13.5
einops==0.6.1
einops-exts==0.0.4
ftfy
huggingface_hub
imageio
importlib-metadata
nltk>=3.8
numpy==1.26.4
opencv-python
orjson
peft==0.10.0
pycocoevalcap
pyyaml
rouge-score
scikit-learn>=1.2.2
scipy
sentencepiece==0.1.99
shortuuid
tensorboardX
termcolor
timm==0.9.12
tokenizers==0.15.1
torch>=2
torchvision>=0.15
tqdm
transformers==4.37.2
yacs
